*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    height: 10000px;
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
}

/* Common */
a {
    color: inherit;
    text-decoration: none;
}

img,
svg {
    display: block;
    max-width: 100%;
}

button {
    cursor: pointer;
}

button,
input {
    outline: none;
    border: none;
    background: transparent;
}

a,
button,
input,
select,
textarea {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    -webkit-tap-highlight-color: transparent;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 149px;
    height: 58px;
    border-radius: 8px;
    background: #212832;
    color: #FFF;
    font-weight: 600;
    line-height: 1.75;
}

.btn:hover {
    opacity: 0.9;
}

.description {
    display: flex;
    align-items: center;
    color: #696D77;
    font-weight: 400;
    line-height: 1.75;
}

.description::before {
    content: "";
    display: inline-block;
    height: 2px;
    width: 18px;
    margin-right: 12px;
    background: #696D77;
}

.desc {
    color: #696D76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66667;
}

.heading {
    color: #212832;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
}



/* Header*/

.header {
    padding-top: 26px;
    background: #fff7f2;
}

.header--sticky {
    position: sticky;
    top: -26px;
    z-index: 999;
}

.header__body {
    padding: 16px 0;
    display: flex;
    align-items: center;
}

.nav__list {
    display: flex;
    align-items: center;
    margin-left: 46px;
}

.nav__link,
.header__log-in {
    display: inline-block;
    padding: 8px 24px;
    color: #696D76;
    font-weight: 400;
    line-height: 1.75;
}

.nav__link::before {
    content: attr(title);
    display: block;
    font-weight: 600;
    height: 0;
    visibility: hidden;
    overflow: hidden;
}

.nav__item--active {
    position: relative;
}

.nav__item--active .nav__link,
.nav__item:hover .nav__link,
.header__log-in {
    font-weight: 600;
    color: #212832;
}

.nav__item--active::after {
    position: absolute;
    content: "";
    width: calc(100% - 48px);
    height: 1px;
    inset: auto 0 0 0;
    margin: 0 auto;
    border-radius: 0.5px;
    background: #7264D6;
}

.header__cta {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header__sign-up {
    height: 52px;
}

/* Hero */
.hero {
    padding: 60px 0 80px;
}

.hero__body {
    display: flex;
    align-items: center;
}

.hero__content {
    flex-shrink: 0;
    width: 46%;
}

.hero__heading {
    margin-top: 12px;
    color: #212832;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.11667;
}

.hero__heading-decor {
    color: #7264D6;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.166667;
}

.hero__desc {
    margin-top: 20px;
}

.hero-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 74px;
    margin-top: 40px;
    border-radius: 8px;
    padding: 8px;
    background: #FFF;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.hero-form__input {
    width: 100%;
    height: 100%;
    padding: 0 15px;
}

.hero-form__input::placeholder {
    color: #696D76;
    font-weight: 400;
    line-height: 1.75;
}

.hero-form__btn {
    flex-shrink: 0;
    background: #7264D6;
}

.hero__note {
    margin-top: 20px;
    color: #696D76;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.7143;
}

/* Hero media */
.hero__media {
    position: relative;
    flex: 1;
    margin-left: 160px;
}

/* Hero deposit */
.hero-deposit {
    position: absolute;
    top: 113px;
    left: -100px;
    display: flex;
    align-items: center;
    width: 174px;
    height: 46px;
    padding: 14px 10px;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
    z-index: 1;
}

.hero-deposit__desc {
    margin-left: 8px;
    color: #31456A;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-deposit__price {
    margin-left: auto;
    color: #4AB5E3;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
}

/* Hero interest */
.hero-interest {
    position: absolute;
    top: 127px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #DA6464;
}

.hero-interest__value {
    color: #FFF;
    font-size: 4.4rem;
    font-weight: 600;
}

.hero-interest__desc {
    color: #FFF;
    font-weight: 400;
}

/* Hero fund */
.hero-fund {
    position: absolute;
    bottom: 66px;
    right: 103px;
    display: flex;
    align-items: center;
    width: 124px;
    height: 68px;
    padding: 20px 14px;
    border-radius: 10px;
    background: #439F90;
    z-index: 1;
}

.hero-fund__content {
    margin-left: 11px;
}

.hero-fund__price {
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-fund__title {
    margin-top: 5px;
    color: #FFF;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1;
}

/* Hero phone */
.hero-phone {
    position: relative;
    width: 296px;
    height: 562px;
    padding: 52px 23px 42px;
    background: url(../icon/hero-phone.svg);
}

.hero-phone::before {
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50% 0;
    content: "";
    height: 36px;
    width: 144px;
    border-radius: 0px 0px 18px 18px;
    background: #3C2F60;
}

.card {
    position: relative;
    height: 150px;
    width: 100%;
    border-radius: 20px;
    padding: 16px;
    background: linear-gradient(90deg, #8273f7 40%, #8270ff 56%);
    overflow: hidden;
}

.card__header {
    display: flex;
    align-items: center;
}

.card__title {
    position: relative;
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 400;
    z-index: 1;
}

.card__ball {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #FEEF65;
}

.card__ball--red {
    margin-left: auto;
    background: #FE6565;
}

.card__ball:nth-of-type(2) {
    margin-left: -9px;
}

.card__value {
    margin-top: 2px;
    color: #FFF;
    font-size: 2.2rem;
    font-weight: 700;
}

.card__infor {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 12px;
    margin-top: 38px;
    z-index: 1;
}

.card__item {
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
}

.card__item:nth-child(3),
.card__item:nth-child(4) {
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
}

.card__decor--top {
    position: absolute;
    top: 0;
    left: 0;
}

.card__decor--bottom {
    position: absolute;
    right: 0;
    bottom: 0;
}

.hero-transection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}

.hero-transection__title {
    color: #31456A;
    font-weight: 600;
}

.hero-item {
    display: flex;
    align-items: center;
    margin-top: 28px;
}

.hero-data__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: rgba(74, 181, 227, 0.1);
}

.hero-item:nth-child(2) .hero-data__img {
    background: rgb(218 100 100 / 10%);
}

.hero-item:nth-child(3) .hero-data__img {
    background: rgb(67 159 144 / 10%);
}

.hero-item:nth-child(4) .hero-data__img {
    background: rgb(114 100 214 / 10%);
}

.hero-data__content {
    margin-left: 14px;
}

.hero-data__heading {
    color: #212832;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-data__text {
    margin-top: 6px;
    color: #696D76;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
}

.hero-data__money {
    margin-left: auto;
    text-align: right;
}

.hero-data__number {
    color: #212832;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-data__date {
    margin-top: 6px;
    color: #696D76;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
}

/* Work */
.work {
    padding: 80px 0;
}

.work__body {
    display: flex;
}

.work__media {
    position: relative;
    width: 40%;
    height: 619px;
    background: url(../icon/work-background.svg) no-repeat left bottom;
}

.work-decor {
    position: absolute;
    top: 76px;
    right: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 8px;
    background: #7264D6;
}

.work-decor_-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background: #F8FBFE;
}

.work-decor__icon {
    width: 50%;
    height: 50%;
}

.work__img {
    width: 456px;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
}

.work-congrat {
    position: absolute;
    bottom: 96px;
    right: -100px;
    display: flex;
    align-items: center;
    width: 226px;
    height: 70px;
    padding: 15px;
    border-radius: 8px;
    background: #FFFDFA;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}

.work-congrat__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background: #4AB5E3;
}

.work-congrat__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FFF;
}

.work-congrat__content {
    margin-left: 10px;
}

.work-congrat__heading {
    color: #212832;
    font-size: 1.4;
    font-weight: 600;
}

.work-congrat__desc {
    margin-top: 5px;
    color: #696D76;
    font-size: 1.2rem;
    font-weight: 400;
}

/* Work content */
.work__content {
    width: 40%;
    margin-left: auto;
    padding-top: 29px;
}

.work__heading {
    margin-top: 12px;
}

.work__list {
    margin-top: 70px;
    counter-reset: heading;
}

.work-item {
    counter-increment: heading;
}

.work-item .work-item__heading::before {
    content: counter(heading)". ";
}

.work-item+.work-item {
    margin-top: 30px;
}

.work-item__heading {
    color: #212832;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.4545;
}

.work-item__desc {
    margin-top: 16px;
    color: #696D76;
    font-weight: 400;
    line-height: 1.75;
}

/* Payment */
.payment {
    padding: 80px 0;
}

.payment__body {
    display: flex;
    align-items: center;
}

.payment__content {
    flex-shrink: 0;
    width: 40%;
}

.payment__heading {
    margin-top: 12px;
}

.payment__desc {
    margin-top: 20px;
}

.payment__list {
    margin-top: 28px;
}

.payment__item+.payment__item {
    margin-top: 18px;
}

.payment__data {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.6667;
}

.payment__data::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 12px;
    border-radius: 50%;
    background: #7264D6;
}

.payment__btn {
    margin-top: 38px;
}

.payment__media {
    position: relative;
    width: 41.2%;
    height: 322px;
    margin: 0 88px 0 auto;
}

.payment-card {
    width: 100%;
    height: 100%;
    padding: 38px;
}

.payment-card__ball {
    width: 48px;
    height: 48px;
}

.payment-card__ball:nth-of-type(2) {
    margin-left: -19px;
}

.payment-card__title {
    font-size: 2.4rem;
}

.payment-card__value {
    position: relative;
    margin-top: 10px;
    font-size: 3.2rem;
    z-index: 1;
}

.payment-card__infor {
    margin-top: 98px;
    gap: 8px 26px;
}

.payment-card__item {
    font-size: 2rem;
}

.payment-card__item:nth-child(2),
.payment-card__item:nth-child(3) {
    font-size: 2.2rem;
    font-weight: 600;
}

.payment-card__item:nth-child(4) {
    font-size: 2rem;
    font-weight: 400;
}

.payment-money {
    position: absolute;
    top: -48px;
    right: -88px;
    display: flex;
    align-items: center;
    width: 276px;
    height: 86px;
    border-radius: 12px;
    padding: 23px 13px;
    background: #fff;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
}


.payment-money__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: rgb(218 100 100 / 10%);
}

.payment-money__content {
    margin-left: 14px;
}

.payment-money__heading {
    color: #212832;
    font-size: 1.2rem;
    font-weight: 500;
}

.payment-money__text {
    margin-top: 4px;
    color: #696D76;
    font-size: 1rem;
    font-weight: 400;
}

.payment-money__wrap {
    margin-left: auto;
    text-align: right;
}

.payment-money__number {
    color: #212832;
    font-weight: 400;
}

.payment-money__date {
    margin-top: 3px;
    color: #696D76;
    font-size: 1rem;
    font-weight: 400;
}

.payment-income {
    position: absolute;
    bottom: -55px;
    right: -88px;
    width: 120px;
    height: 120px;
    border-radius: 16px;
    padding: 14px;
    background: #439F90;
}

.payment-income__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background: #FFF;
}

.payment-income__title {
    margin-top: 14px;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 400;
}

.payment-income__price {
    margin-top: 6px;
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 600;
}

/* Payment 2 */
.payment-2__media {
    position: relative;
    width: 49%;
    height: 600px;
    margin-right: auto;
}

.payment-2__wrap {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 470px;
    background: url(../icon/payment-2-background.svg) no-repeat left bottom;
}

.payment-2__img {
    width: calc(100% - 56px);
    object-fit: cover;
}

.payment-2__method {
    position: absolute;
    bottom: 57px;
    right: 0px;
    width: 281px;
    height: 220px;
    padding: 28px;
    background: #fff;
    border-radius: 10px;
    filter: drop-shadow(0px 44px 48px rgba(0, 0, 0, 0.10));
}

.payment-2__heading {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66667;
}

.payment-2__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    margin-top: 20px;
}

.payment-2__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 63px;
    height: 48px;
    border-radius: 4px;
    background: #F2F2FA;
}

.payment-2__item:last-child {
    background: #F9EA63;
}

.payment-2__decor {
    position: absolute;
    top: -60px;
    right: -26px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #7264D6;
    box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.10);
}

/* Client */
.client__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.client__heading {
    margin-top: 12px;
}

.client__desc {
    width: 435px;
    margin-top: 18px;
}

.client__content {
    margin-top: 70px;
}

.client__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    overflow: hidden;
}

.client-item__desc {
    position: relative;
    border-radius: 8px;
    padding: 42px 28px;
    background: #fff;
    color: #696D76;
    text-align: center;
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54545;
    filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
}

.client-item__desc::before {
    position: absolute;
    bottom: -60px;
    left: 50%;
    translate: -50% 0;
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 60px 50px 0 50px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}

.client-item__avatar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 104px;
    height: 104px;
    margin: 96px auto 20px;
    border-radius: 50%;
    background: #4AB5E3;
    overflow: hidden;
}

.client-item__img {
    width: 100%;
    object-fit: cover;
}

.client-item__name {
    color: #070052;
    text-align: center;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.3846;
}

.client-item__job {
    margin-top: 4px;
    text-align: center;
}

.client__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 12px;
    margin-top: 38px;
}

.client__dot {
    width: 22px;
    height: 6px;
    border-radius: 1px;
    border: 1px solid #9B9FAB;
}

.client__dot:not(.client__dot--active) {
    cursor: pointer;
}

.client__dot--active {
    background: #7264D6;
    border-color: #7264D6;
}